.workWrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;

}
.workContainer{
    width: 100%;
    min-height: 100vh;
    h1{
        color: white;
        margin-bottom: 30px;
    }
}
.workcardContainer{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap:80px;
    padding: 20px;
    justify-content: space-around;
}
