.center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.routes{
    position: fixed;
    text-decoration: underline;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    animation: popup 1s ease-in-out 500ms 1;
    -webkit-animation: popup 1s ease-in-out 500ms 1;
    z-index: 100;
    min-width: max-content;
    padding-left: 10px;
    height: 40px;
    overflow: hidden;
    justify-content: space-around;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: rgba(199, 194, 194, 0.8);
    @extend.center;
    button
{
        color: black;
        outline: none;
        border: 0;
        background-color: transparent;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        transition: 200ms ease-in-out;
        -webkit-transition: 200ms ease-in-out;
        -moz-transition: 200ms ease-in-out;
        -ms-transition: 200ms ease-in-out;
        -o-transition: 200ms ease-in-out;
        height: 100%;
        padding: 0 5px;
        @extend .center;
        cursor:pointer;

        &:hover
        {
            background-color: rgba(10, 10, 10, 0.5);
            color: white;
        }
    }
    a{
        @extend button;
    }
}

@keyframes popup {
    0%{
        opacity: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
}
    100%{
        opacity: 1;
        transform: scale(10px);
        -webkit-transform: scale(10px);
        -moz-transform: scale(10px);
        -ms-transform: scale(10px);
        -o-transform: scale(10px);
}
}